<h1>Welcome to Roll Call</h1>
<p>Log in to view and attend classes</p>
<a href="https://www.facebook.com/dialog/oauth?client_id=<%Settings.facebook_app_id%>&redirect_uri=<%Settings.facebook_redirect_url%>&scope=publish_checkins">
